body {
    margin: 0;
}

@font-face {
    font-family: Archivo;
    src: url(fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf);
}

 :root {
    --text: Archivo;
    --text-another: Roboto;
    --color: #6A154B;
}

.nav {
    z-index: 4;
    background: rgba(106, 21, 75, 0.705);
    width: 100%;
    justify-content: space-between;
    display: flex;
    position: fixed;
    padding-bottom: 7px;
}

#basket_total,
#searchmobile {
    display: none;
}

header {
    width: 100%;
    background-size: cover;
    border-bottom: 2px solid #6A154B;
    background-repeat: no-repeat;
}

.nav_item {
    display: inline-block;
    font-size: 25px;
}

.navigation-container {
    padding-top: 24px;
    padding-left: 59px;
}

.navigation-container,
.nav_right-container {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    font-size: 32px;
}

p {
    margin: 0;
    padding: 0;
}

.logo p {
    color: white;
    font-family: var(--text);
    font-size: 55px;
}

.logo {
    display: flex;
}

.line {
    width: 2px;
    margin-left: 10px;
    height: 35px;
    background: white;
    margin-top: 26px;
}

.menu-items {
    padding-top: 27px;
    padding-left: 54px;
}

.nav_item {
    margin-left: 40px;
    font-family: var( --text-another);
}

.nav_item:first-child {
    margin-left: 0;
}

.link::after {
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.4s;
}

.link:hover::after {
    width: 100%;
    transition: .3s;
}

.nav_right-container {
    font-family: var( --text-another);
    font-size: 25px;
    padding-top: 35px;
    padding-right: 49px;
    color: #fff;
}

#button {
    background: none;
    border: none;
    cursor: pointer;
}

#basket {
    background: transparent;
    border-color: transparent;
}

#button p {
    color: #fff;
    font-size: 25px;
    font-family: var( --text-another);
}

.slider {
    position: relative;
    overflow: hidden;
}

.func {
    background: white;
    border-color: none;
    color: var(--color);
    border-radius: 20px;
    padding: 5px 20px;
    margin-left: -30px;
}

.cont {
    display: flex;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    background: linear-gradient(to right, rgba(120, 44, 88, 0.541), transparent, rgba(120, 44, 88, 0.582));
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    text-align: center;
}

.anonse {
    display: flex;
    padding-top: 130px;
    width: 80%;
    margin-left: 150px;
    margin-right: 150px;
    margin: auto;
}

.anonse p {
    align-self: center;
    font-size: 60px;
    line-height: 60px;
    font-family: var(--text-another);
    padding-left: 100px;
    color: var(--color);
    padding-right: 100px;
}

.basket {
    height: 50px;
    width: 60px;
}

.nav_right-container .nav_item:last-child {
    margin-left: 0;
    padding-top: 13px;
}

.nav_right-container .nav_item:first-child {
    padding-top: 20px;
}

.left {
    height: 100%;
    width: 15%;
}

.right {
    height: 100%;
    text-align: center;
    width: 85%;
    margin-left: 80px;
    margin-top: 40px;
}

.section_shop {
    display: flex;
    width: 90%;
    margin: auto;
}

input[type="search"]::-webkit-input-placeholder {
    color: #fff;
}

.search_container h3 {
    font-family: var(--text-another);
    border-bottom: 1px solid #6A154B;
    color: var(--color);
    font-size: 30px;
}

.input-container {
    margin-top: 10px;
    overflow: hidden;
}

.dropdown {
    height: 15px;
    width: 15px;
    transition: all 0.3s ease-in-out;
    padding-top: 2px;
}

input[id="check_first"],
input[id="check_second"],
input[id="check_third"] {
    display: none;
}

#check_first:checked~.open_container_first {
    display: block;
}

#check_second:checked~.open_container_second {
    display: block;
}

#check_third:checked~.open_container_third {
    display: block;
}

input[id="check_first"]:checked+.check_label>.dropdown {
    transform: rotate(180deg);
}

.open_container_first,
.open_container_second,
.open_container_third {
    display: none;
}

.check_label {
    display: flex;
    font-family: var(--text-another);
    font-size: 20px;
    justify-content: space-between;
    color: var(--color);
    background: linear-gradient(to right, transparent, rgba(120, 44, 88, 0.219));
    padding: 10px 10px 10px 10px;
}

.check_label:hover {
    background: linear-gradient(to right, rgba(120, 44, 88, 0.219), transparent);
}

.open_container_third label,
.open_container_first label,
.open_container_second label {
    width: 100%;
    display: block;
    padding-left: 20px;
}

.input-category {
    display: flex;
    font-family: var(--text-another);
    font-size: 20px;
    justify-content: space-between;
    color: var(--color);
    padding: 10px 10px 10px 0px;
}

#horror,
#romans,
#classic,
#thriller {
    display: none;
}

.input-category:hover {
    background: linear-gradient(to right, transparent, rgba(120, 44, 88, 0.219));
}

.input-category:checked {
    color: white;
    background: #6A154B;
}

.card {
    width: 32%;
    float: left;
    height: 500px;
}

.cards-container {
    width: 100%;
}

.image {
    padding-left: 100px;
    padding-right: 100px;
}

.book_item {
    height: 350px;
    width: 100%;
}

.book_name {
    font-family: var(--text-another);
    color: var(--color);
}

#table-container {
    width: 80%;
    height: 100px;
    color: #fff;
    margin: auto;
}

.forbasket {
    width: 33%;
    float: left;
    height: 500px;
}

#basketOpen .forbasket {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    display: flex;
    border: 1px solid #fff;
    justify-content: space-between;
}

#basketOpen .book_name {
    color: #fff;
}

#basketOpen .content-container {
    width: 20%;
    align-self: center;
}

#basketOpen .buy-container {
    display: block;
    justify-content: space-between;
    width: 20%;
    margin: 0;
    padding: 0;
    align-self: center;
}

#basketOpen .button-container {
    display: none;
}

#table-container .book_item {
    height: 100px;
    width: 70px;
}

.card p {
    font-family: var(--text-another);
    font-size: 20px;
    padding-top: 5px;
}

.buy-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding-top: 7%;
}

.buy {
    padding: 10px 20px;
    background: #6A154B;
    color: white;
    font-family: var(--text-another);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.cost {
    font-family: var(--text-another);
    font-size: 20px;
    padding-top: 5px;
}

#button {
    padding: 10px 20px;
    background: #6A154B;
    color: white;
    font-family: var(--text-another);
    border-radius: 20px;
}

.content-container {
    overflow: hidden;
}

.navigation_mobile {
    display: none;
}

.search {
    width: 100%;
    height: 70px;
    background: #6A154B;
}

.functions {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.searching {
    height: 180px;
    background: #6A154B;
}

.basketing {
    height: 700px;
    width: 100%;
    background: #6A154B;
}

.basketing h3 {
    font-size: 25px;
    font-family: var(--color);
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.basketing p {
    font-size: 25px;
    font-family: var(--color);
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
}

.searching h3 {
    color: white;
    font-family: var(--text-another);
    font-size: 15px;
    padding-top: 10px;
    border-bottom: 1px solid white;
    text-align: center;
}

.function_search {
    padding: 7px 10px;
    width: 90%;
    border-radius: 20px;
    display: block;
    margin: auto;
    border-color: transparent;
    font-size: 15px;
    background: #6A154B;
    -webkit-text-fill-color: white;
    text-align: center;
    border: 1px solid white;
}

.function_container {
    display: flex;
    width: 80%;
    margin: auto
}

#func {
    background: white;
    border-color: none;
    color: var(--color);
    border-radius: 20px;
    padding: 5px 20px;
    margin-left: -30px;
}

.searching,
.basketing {
    display: none;
}

#searchmobile:checked+.searching {
    display: block;
}

#basket_total:checked+.basketing {
    display: block;
}

@media(max-width: 1420px) {
    .card {
        width: 50%;
    }
    .nav_right-container .nav_item:first-child {
        display: none;
    }
}

@media (max-width: 1180px) {
    .menu-items {
        display: none;
    }
    .forbasket .book_author {
        font-family: var(--text-another);
        font-size: 14px;
        padding-top: 5px;
    }
    .line {
        display: none;
    }
    .anonse {
        display: block;
    }
    .book_png {
        width: 100%;
    }
    .check_label {
        font-size: 15px;
    }
    .image {
        padding-left: 50px;
        padding-right: 50px;
    }
    .forbasket {
        width: 50%;
        float: left;
        height: 500px;
    }
}

@media (max-width: 740px) {
    .nav_right-container {
        display: none;
    }
    .navigation-container {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    .left {
        display: none;
    }
    .section_shop {
        width: 100%;
    }
    .right {
        height: 100%;
        text-align: center;
        width: 100%;
        margin: 0;
        padding-bottom: 80px;
    }
    .label_mobile {
        width: 20%;
        background: #6A154B;
        border-right: 1px solid white;
        height: 65px;
    }
    .label_mobile:last-child {
        border: none;
    }
    .navigation_mobile {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    input[class="searchmobile"] {
        display: none;
    }
    .mobile-icons {
        display: block;
        left: 50%;
        top: 50%;
        position: relative;
        transform: translate(-50%, -50%);
        width: 60px;
    }
    .book_item {
        height: 250px;
    }
    .card {
        height: 400px;
    }
}

input[id="button"] {
    display: none;
}

#button:checked+#basketOpen {
    display: block;
}

.book_author {
    font-family: var(--text-another);
    font-size: 20px;
    padding-top: 5px;
}

#basketOpen {
    position: fixed;
    max-height: 1700px;
    z-index: 3;
    width: 100%;
    padding-top: 100px;
    display: none;
    background: #6A154B;
}

#basketOpen h3 {
    font-size: 30px;
    border-bottom: 1px solid;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    font-family: var(--text-another);
}

.result-container {
    font-size: 25px;
    color: white;
    display: flex;
    width: 80%;
    margin: auto;
}

label {
    cursor: pointer;
}

@media (max-width: 500px) {
    .logo p {
        font-size: 30px;
    }
    .anonse p {
        padding: 0;
    }
    .buy-container {
        display: block;
        padding-top: 10px;
    }
    .forbasket {
        width: 60%;
        margin: auto;
        float: none;
        height: 400px;
    }
}

@media (max-width: 450px) {}